.contact {
    background-color: #fff;
    display: flex;

    .left {
        flex: 1;
        overflow: hidden;

        img {
            height: 100%;
        }
    }
    .right {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        h2 {
            font-size: 40px;
        }

        form {
            width: 70%;
            height: 58%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;

            input {
                width: 400px;
                height: 30px;
                font-size: 14px;
            }

            textarea {
                width: 400px;
                height: 200px;
                font-size: 14px;
            }

            button {
                width: 170px;
                height: 40px;
                color: #fff;
                background-color: crimson;
                border: none;
                border-radius: 10px;
                font-weight: 500;
                cursor: pointer;
                font-size: 18px;

                &:focus {
                    outline: none;
                }
            }

            span {
                color: green;
            }
        }
    }
}